#boi{
    height: 100px;
    width: 200px;
}
.bb{
    font-size: 20px;
}
p{
    font-size: 20px;
}
.q{
    background-color: grey;
    border-radius: 20px;
}
.qwerty{
    height:100;
    width:200;
}